  <footer style="background-color: black;">
        <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright" style="color: #{{ site.data.template.color.primary-light }};">&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons" >
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks" >
                        <li><a href="#" style="color: #{{ site.data.template.color.primary-light }};">Privacy Policy</a>
                        </li>
                        <li><a href="#" style="color: #{{ site.data.template.color.primary-light }};">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
