    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="text-transform: none; font-weight: 800; color: aliceblue;">
                <div class="intro-lead-in" >Opensource enablement</div>
                <div class="intro-heading"  style="text-transform: none;">Smart Solutions</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

