
<!-- services Section -->
<section id="solutions">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Customized Solutions Addressing Customer Needs and Challenges</h2>
                    <!-- <h3 class="section-subheading text-muted">We have few initiatives...</h3> -->
                    <p class="text-unmuted">
                        Our portfolio includes budget-friendly solutions built on industry-standard technologies, with a significant focus on open-source options.
                    </p>

                    <h3 class="section-heading">
                        Ways <strong>everimus</strong> Can Assist
                    </h3>
                    <p class="text-unmuted">
                    By taking a comprehensive view of clients' business requirements, everimus can aid businesses in optimizing Automation, Containerization, DevOps, and refining their cloud solutions. everimus offers a variety of technology services, including but not limited to:
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chrome fa-stack-1x fa-inverse"></i>
                    </span>
                    -->
                    <h3 class="service-heading">Streamlining Processes through Automation</h3>
                    <p class="text-unmuted" >
                            Whether it's a straightforward job such as installing a package on a Linux server or a more intricate endeavor like setting up a new Kubernetes infrastructure in a public cloud or configuring a new DNS on a network device, we adhere to the <strong>DRY (Don't Repeat Yourself)</strong>strong> approach, which not only saves engineers valuable time but also enables them to concentrate on more critical responsibilities. You can simplify your daily tasks by harnessing the power of <strong>Ansible</strong>, <strong>Red Hat Ansible Automation Platform</strong> and <strong>Ansible AWX</strong>.                        
                    </p>
                </div>
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i> 
                    </span>
                    -->
                    <h3 class="service-heading">Containerization</h3>
                    <p class="text-unmuted">
                        Frustrated with the complexities of handling monolithic applications? Embrace modernization by containerizing your applications. Through a microservices architecture, you'll gain the flexibility and liberty to efficiently manage your applications. Leveraging <strong>Kubernetes</strong>strong> and <strong>OpenShift</strong>strong> platforms, you can seamlessly deploy, oversee, monitor, and scale your applications according to your specific requirements.
                    </p>
                </div>
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
                    </span>
                    -->
                    <h3 class="service-heading">DevOps</h3>
                    <p class="text-unmuted">
                        Dismantle siloed thinking and workflows by incorporating DevOps best practices within your organization. Embracing DevOps methodologies will enable you to accomplish a greater number of objectives in less time, ultimately reducing the <strong>Time to Market</strong>strong> for your products. This approach empowers you to deliver enhanced product versions more frequently, fostering customer satisfaction and contentment.
                    </p>
                </div>
            </div>
        </div>
    </section>
