
<!-- services Section -->
<section id="solutions">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tailored Solutions for your Problems</h2>
                    <!-- <h3 class="section-subheading text-muted">We have few initiatives...</h3> -->
                    <p class="text-unmuted">
                        We offer cost effective solutions based on industry standard technologies; and yes most of them are opensource technologies.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chrome fa-stack-1x fa-inverse"></i>
                    </span>
                    -->
                    <h3 class="service-heading">Automation</h3>
                    <p class="text-unmuted" >                        
                        It might be a simple task like package installation on a linux server, a weekly system reboot or something complex like deploying new Kubernetes infrastructure in public cloud or provisioning new DNS in a network device. We believe in <strong>DRY (Don’t Repeat Yourself)</strong> methods and save engineers time to focus on more important tasks. You can automate your day-to-day tasks using <strong>Ansible</strong> and <strong>Ansible AWX</strong> (or <strong>Red Hat Ansible Tower</strong>). 
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i> 
                    </span>
                    -->
                    <h3 class="service-heading">Containerization</h3>
                    <p class="text-unmuted">
                        Tired with managing monolithic applications ? Migrate your applications to the modern platforms by containerizing them. With the microservice architecture, you will get the flexibility and freedom to manage your applications with less hassle. With the help of <strong>Kubernetes</strong> and <strong>OpenShift</strong> platforms, you can deploy, manage and monitor your applications and scale it based on demand. 
                    </p>
                </div>
                <div class="col-md-4">
                    <!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
                    </span>
                    -->
                    <h3 class="service-heading">DevOps</h3>
                    <p class="text-unmuted">
                        Eliminate the silo mindset and workflows by implementing DevOps best practices in your organization. DevOps practices will help you to achieve more goals in less time and also help to reduce the ‘Time to Market’ for your products. Deliver newer and better versions of your products frequently and make your customers happy.
                    </p>
                </div>
            </div>
        </div>
    </section>
